**/.*
**/__pycache__
**/.vscode
**/.vai
train/**/*.pt*
**/build

test file/model/resnet18_best.pth
test file/model/resnet18_pruned.pth
train/quantize_result/*
train/runs/*
train/track_out.mp4
install_sript/condaenv.lp_zbqz9.requirements.txt
test file/resnet18_best.pth
test file/resnet18_pruned.pth
test file/kv26_dpu/*
train/weights/*
test file/quantize_result/*
dpu_inference/cpp/cpu_sim/detection_result.jpg
dpu_inference/cpp/dpu_run/detection_result.jpg
