test file/model/resnet18_best.pth
test file/model/resnet18_pruned.pth
train/runs/*
train/yolo26n.pt
train/track_out.mp4
train/quantize_result/__pycache__/DetectionModel.cpython-38.pyc
train/quantize_result/DetectionModel.py
train/quantize_result/bias_corr.pth
.vscode/settings.json
train/quantize_result/quant_info.json
train/arch/__pycache__/yolo11.cpython-39.pyc
train/utils/__pycache__/util.cpython-39.pyc
install_sript/condaenv.lp_zbqz9.requirements.txt
train/yolo11n.pt
